@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h1 class="bg-primary text-white" style="border-radius:7px;padding:15px">Home Page</h1>
    <a class="btn btn-info" style="font-weight:bolder" asp-controller="Movies" asp-action="Index">Click Here to View Movie List</a>
    <a class="btn btn-info" style="font-weight:bolder" asp-controller="Reviews" asp-action="Index">Click Here to Read Reviews</a>
</div>